---
layout: default
title: Building skills and gaining perspectives.
description: Angela Robertson's portfolio.
featured_image: /images/IMG_2732.JPG
---



{% for page in site.pages %}
{% if page.title == 'Portfolio'  %}
<section class="intro">
    <img src="/images/hello.svg" class="pageIcon">
    <div class="wrap titleBlock">
        <h1>Welcome!</h1>
        <p>I am an experienced leader and manager with a strong track record of building teams, 
        innovating, and developing product strategy. Here is a sample of what I am working on.</p>
    </div>
</section>
<section class="single">
    <div class="wrap">
        {{ page.content }}
    </div>
</section>
{% endif %}
{% endfor %}